@require '../../styles/standard.styl'

$thefont = 14px
$thelineheight = $thefont * 1.61803398875

.modal
  .modal-content
    list-style: none
    color: white
    background-color: transparent
    background: rgba(102,0,0, .95)
    border-radius: 0px
    li
      margin: 0
      list-style: none

    .modal-section
      .modal-picture
        display: inline-block
        vertical-align: top
        width: 50%
        text-align center
        img
          object-fit: cover

      .modal-info
        width: 50%
        display: inline-block
        margin 0
        font-size 1.2em
        font-weight bold

  
    .modal-description
      text-align: justify
      margin 1em 4em


    .close
      color: white
      text-shadow: 0 1px 0 white

