language: python

python:
  - "3.4"

cache: pip

install:
  - pip install -r config/requirements.txt
  - pip install flake8
  - npm install -g jsxhint

before_script:
  - source config/settings.test 
  - export PYTHONPATH=.

script:
  - flake8 --exclude=src .
  - py.test -v tests/
  - jsxhint cal/static/jsx/*

notifications:
  slack: adi-labs:u3wTYTfUP675OTmXERvefwON
