language: python

python:
  - "2.7.9"

cache:
  directories:
    - $HOME/virtualenv/python2.7.9/
    - $HOME/.pip_cache/

before_install:
  - export PIP_DOWNLOAD_CACHE=$HOME/.pip_cache/

install:
  - pip install -r config/requirements.txt
  - pip install flake8
  - npm install -g jsxhint

before_script:
  - source config/settings.test 
  - export PYTHONPATH=.

script:
  - flake8 .
  - py.test -v
  - jsxhint cal/static/jsx/*
