beautifulsoup4
celery
Flask
Flask-SQLAlchemy
fuzzywuzzy
icalendar
iso8601
python-Levenshtein
PyYAML
requests
SQLAlchemy
whoosh

git+https://github.com/tonet666p/Flask-WhooshAlchemy.git@python-3-compatibility#egg=flask_whooshalchemy_py3

# Testing requirements
flake8
pytest
