Flask==0.10.1
Flask-SQLAlchemy==2.0
GnuPGInterface==0.3.2
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
command-not-found==0.2.44
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
facebook-sdk==0.4.0
fake-factory==0.4.2
flake8==2.3.0
ipython==2.4.1
itsdangerous==0.24
language-selector==0.1
mccabe==0.3
mixer==5.0.7
pep8==1.6.1
pycurl==7.19.0
pyflakes==0.8.1
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
ufw==0.31.1-1
unattended-upgrades==0.1
wsgiref==0.1.2
