body {
}
h1 {
    text-align: center;
}
table {
    border: 1px solid black;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    width: 12%;
}

.event {
    background-color: rgba(200, 54, 54, 0.2);
    font-size: smaller;
}
