@require '../../styles/standard.styl'

.navbar, .navbar-default, .navbar-fixed-top
  .container
    a
      color $font-color-light

    .navbar-collapse
      .nav, .navbar-nav, .navbar-right
        a
          color $font-color-light
          &:hover
            background-color rgba(102,0,0, .95)

