<!DOCTYPE html>
<head>
		<title>Columbia University Calendar</title>
		<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
</head>

<body>
	<div class="container main-body">
		<h1> Columbia University Calendar</h1>
                <h2> {{ monday_events }} </h2>
	</div>
	<div class="row">
	<div class="col-md-10">
	<table class="table table-bordered">
 		<tr>
    		<td>
    			<h3>Monday</h3>
    			<ul id="event">
    				{% for event in monday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
    		<td>
    			<h3>Tuesday</h3>
    			<ul>
    				{% for event in tuesday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td> 
    		<td>
    			<h3>Wednesday</h3>
    			<ul>
    				{% for event in wednesday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
    		<td>
    			<h3>Thursday</h3>
    			<ul>
    				{% for event in thursday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
    		<td>
    			<h3>Friday</h3>
    			<ul>
    				{% for event in friday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
    		<td>
    			<h3>Saturday</h3>
    			<ul>
    				{% for event in saturday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.weekday() }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
    		<td>
    			<h3>Sunday</h3>
    			<ul>
    				{% for event in sunday_events %}
    				<li>
    					<p>{{ event.name }}</p>
						<p>{{ event.location }}</p>
						<p>{{ event.start.strftime("%b %d, %Y %H:%M:%S")}}</p>
					</li>
					{% endfor %}
    			</ul>
    		</td>
  		</tr>
	</table>
	</div>
	<div class="col-md-2">
		<h4>Filter your search</h4>
		<ul>
			<li>Talks</li>
			<li>Clubs</li>
		</ul>
	</div>
	</div>
</body>
