<!DOCTYPE html>

{% macro output_event(event) -%}
   <td>
    	<div class="event">
			<a href={{event.url}} target=newtab>{{event.name}} </a> 
			<p>{{event.location}}</p>
			<p>{{event.start.strftime('%I:%M %P')}}</p>
		</div>
	</td>
{%- endmacro %}


<head>
	<title>Columbia University Calendar</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src='{{ url_for("static", filename="js/react-0.12.2.js") }}'></script>
        <script src='{{ url_for("static", filename="js/JSXTransformer-0.12.2.js") }}'></script>
        <script src='{{ url_for("static", filename="js/jquery-1.10.0.min.js") }}'></script>
</head>

<body>
    <div id="content">
    </div>

    <script src="{{ url_for('static', filename='jsx/calendar.jsx') }}" type="text/jsx"> </script>
    <script src="{{ url_for('static', filename='jsx/query.jsx') }}" type="text/jsx"> </script>
    <script src="{{ url_for('static', filename='jsx/app.jsx') }}" type="text/jsx"> </script>
</body>
