<!DOCTYPE html>
<head>
	<title>Columbia University Calendar</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src='{{ url_for("static", filename="js/react-0.12.2.js") }}'></script>
        <script src='{{ url_for("static", filename="js/JSXTransformer-0.12.2.js") }}'></script>
        <script src='{{ url_for("static", filename="js/jquery-1.10.0.min.js") }}'></script>
</head>

<body>
    <div id="content"></div>
    <script type="text/jsx">
        var REvent = React.createClass({
            render: function() {
                var start = new Date(this.props.data.start);
                var width = 1;
                var timeString = start.toLocaleTimeString();
                if (this.props.data.end !== null) {
                    var end = new Date(this.props.data.end);
                    // TODO handle end of month problems
                    width = end.getDate() - start.getDate() + 1;
                    timeString += "--" + end.toLocaleTimeString();
                }

                return (
                    <div className="event">
                        { timeString }  <br/>
                        <a href={this.props.data.url}> { this.props.data.name } </a>
                    </div>
                );
            }
        })

        var RDay = React.createClass({
            render: function() {
                var events = this.props.eventList.map(function(evt, i) {
                    return <REvent data={ evt }/>
                });

                return (
                    <td className="day">
                        { events }
                    </td>
                );
            }
        })

        var RWeek = React.createClass({
            render: function() {
                var events = [[], [], [], [], [], [], []];
                for (var i = 0; i < this.props.eventList.length; i++) {
                    var evt = this.props.eventList[i];
                    var start = new Date(evt.start);
                    events[start.getDay()].push(evt);
                }

                var days = [];
                for (var i = 0; i < 7; i++) {
                    days.push(
                        <RDay eventList={ events[i] }/>
                    )
                }

                return (
                    <tr className="week">
                        { days }
                    </tr>
                );
            }
        })

        var RCalendar = React.createClass({
            getInitialState: function() {
                return {eventList: []};
            },
            componentDidMount: function() {
                $.getJSON('{{ url_for("events") }}', function(data) {
                    this.setState({eventList: data.data});
                }.bind(this));
            }, 
            render: function() {
                return (
                    <table className="calendar">
                        <thead>
                            <td> Sunday </td>
                            <td> Monday </td>
                            <td> Tuesday </td>
                            <td> Wednesday </td>
                            <td> Thursday </td>
                            <td> Friday </td>
                            <td> Saturday </td>
                        </thead>

                        <RWeek eventList={ this.state.eventList }/>
                    </table>
                );
            }
        })

        var calendar = <RCalendar/>;
        React.render(calendar, document.getElementById("content"));
    </script>
</body>
